node_modules
dist
coverage
.temp
.nuxt
.output
.vitepress/cache
.vitepress/dist
docs/.vitepress/.temp
docs/.vitepress/cache
docs/.vitepress/dist
examples/nuxt/.nuxt
examples/nuxt/.output
examples/nuxt/dist
*.tsbuildinfo
.DS_Store
.env
.env.*
!.env.example
